{{ block('header', 'header.html.twig')}}
{% block body %}
		<h5>CLASSE INSTRUMENT</h5>
		<div class="emploi-temps">
			<table class='table table-bordered text-white'>

			<tr>
				<td>Libelle</td>
			</tr>

			{% for i in pclasseInstrument %}

			<tr>
				<td><a href="{{ path('instrumentListerTypeByID', { 'id': i.id }) }}">{{ i.libelle }}</a></td>
				
	{% else %}
			<tr>
				<td>Aucun instrument n'a été trouvé.</td>
			</tr>
	{% endfor %}
</table>
</div>
{% endblock %}
{{ block('footer', 'footer.html.twig') }}