<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste des instruments{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
			LISTE DES INSTRUMENTS</br></br>
			<table>

			<tr>
				<td>Intitule</td>
				<td>Prix dachat</td>
				<td>Date dachat</td>
				<td>Utilisation</td>
			</tr>

			{% for i in pInstruments %}

			<tr>
			<!--Id-->
				<td>{{ i.intitule }}</a></td>
				<td>{{ i.prixAchat }}</a></td>
				<td>{{ i.dateAchat|date('d/m/Y') }}</td>
			<!--Prix achat
				date achat-->
				<td>{{ i.utilisation}}</td>
			<!--marque
				couleur
				etat
				type-->
				
	{% else %}
			<tr>
				<td>Aucun instrument n'a été trouvé.</td>
			</tr>
	{% endfor %}
</table>
	
	 
    </body>
</html>