{{ block("header", "header.html.twig") }}
{% block body %}
<div class="emploi-temps">
    <div class="tableau">
        {% if app.user.id is defined and app.user.roles.0 == 'ROLE_RESPONSABLE' and id == app.user.responsable.id %}
            <h5>PAIEMENT</h5>
            <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Numéro de la carte</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Code de vérification</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Code de vérification</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
    </div>
</div>


{% endblock %}

{{ block("footer", "footer.html.twig") }}