{% block footer %}
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <p style='width: 100%;' class="col-md-4 mb-0 text-muted">© 2022 - <a href="{{ path('mentionsLegales') }}">Mentions Légales</a></p>
  </footer>
</body>
</html>
{% endblock %}