{% block footer %}
</div></br><footer class="d-flex flex-wrap justify-content-between align-items-center">
<p style='width: 100%;' class="col-md-4 mb-0 text-muted">Copyright © 2022 -
	<a href="{{ path('mentionsLegales') }}">Mentions Légales</a>
	-
	<a href="{{ path('politiqueCo') }}">Politique de Confidentialité</a>
	- par LE COZANNET Arnaud / HANG Thomas / LELIEVRE Théo / HERMAN Louis
</p></footer></body></html>{% endblock %}
