{{ block("header", "header.html.twig") }}
{% block body %} 
<p >
<div style="text-shadow: 2px 0 #000;">
    <h4 ><strong>Mentions Légales</strong></h4></br></br>

    Nom du site web : E-Music</br>

    Adresse du site : <a href="http://172.20.177.77/swipe/public">E-Music</a></br></br></br>


    <strong>Éditeur du Site :</strong></br></br>

    SWIPE</br>

    98 Rte d'Ifs, 14000 CAEN</br>

    Téléphone : 02 31 52 19 40</br>

    Email : <A HREF="mailto:"> ce.0140017t@ac-caen.fr</A></br></br></br>

    
    <strong>Développement :</strong></br></br>

    SWIPE : LELIEVRE Théo, HANG Thomas, LE COZANNET Arnaud, HERMAN Louis</br></br>
    </div>
</p>

{% endblock %}
{{ block("footer", "footer.html.twig") }}