{{ block("header", "header.html.twig") }}


{% block body %}
      <div class="emploi-temps">
        <table class="table table-bordered text-white">
            <thead>
              <tr>
                <th scope="col">Heure</th>
                <th scope="col" colspan="2">Lundi</th>
                <th scope="col" colspan="2">Mardi</th>
                <th scope="col" colspan="2">Mercredi</th>
                <th scope="col" colspan="2">Jeudi</th>
                <th scope="col" colspan="2">Vendredi</th>
                <th scope="col" colspan="2">Samedi</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                  </tr>
                <tr>
                    <td>15H</td>
                    <td>Professeur</td>
                    <td>Guitare</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                </tr>
                <tr>
                    <td>16H</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                    <td>Professeur</td>
                    <td>Instrument</td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
      </div>
{% endblock %}
{{ block("footer", "footer.html.twig") }}
