{{ block("header", "header.html.twig") }}
{# templates/instrument/ajouter.html.twig #}
<div class="form bg center">
	<div class="card-body" align="left">
		{{ form_start(form) }}
		{{ form_end(form) }}
	</div>

</div>
{{ block("footer", "footer.html.twig") }}
